<%- include('header') -%>

<header class="heading heading--main">
  <h1 class="heading__maintitle">Fræðslumyndbandaleigan</h1>
</header>
<main>
  <div class="list">
    <div class="list__row">
      <% categories.forEach((category)=> { %>
      <h2 class="heading__category"><%= category.title %></h2>

      <div class="list__col">
        <% category.videos.forEach((video)=> { %>
        <a href="/<%= video.id %>" class="listItem">
          <div class="listItem__poster">
            <img src="<%= video.poster %>" alt="" />
            <div class="listItem__duration">
              <%= Math.floor(video.duration/60) %>
              :
              <% if(video.duration-Math.floor(video.duration/60)*60<10) { %>
                  0<%= video.duration-Math.floor(video.duration/60)*60 %>
              <% } else { %>
              <%= video.duration-Math.floor(video.duration/60)*60 %>
              <% } %>
            </div>
          </div>
          <div class="listItem__bottom">
            <div class="listItem__texts">
              <h2 class="listItem__title">
                <%= video.title %>
              </h2>
              <% if((Date.now()-video.created)<86400000){ %>
                  Fyrir <%= Math.floor((Date.now()-video.created)/3600000) %> klukkustund/klukkustundum síðan
              <% } 
              else if((Date.now()-video.created)<604800000){ %>
                  Fyrir <%= Math.floor((Date.now()-video.created)/86400000) %> degi/dögum síðan
              <% } 
              else if((Date.now()-video.created)<2592000000){ %>
                  Fyrir <%= Math.floor((Date.now()-video.created)/604800000) %> viku/vikum síðan
              <% }
              else if((Date.now()-video.created)<31536000000){ %>
                  Fyrir <%= Math.floor((Date.now()-video.created)/2592000000) %> mánuði/mánuðum síðan
              <% } 
              else{ %>
                  Fyrir <%= Math.floor((Date.now()-video.created)/31536000000) %> ári/árum síðan
              <% } %>
            </div>
          </div>
        </a>
        <% }) %>
      </div>
      <div class="hline"></div>
      <% }) %>
    </div>
  </div>
  <footer class="video__footer">©Fræðslumyndbandaleigan</footer>
</main>
<%- include('footer') -%>
