<%- include("header") -%>

<main class="main__video">
  <section class="video">
    <div class="heading">
      <h1 class="heading__maintitle"><%= video.title %></h1>
    </div>

    <video controls class="video__video">
      <source src="<%= video.video %>" type="video/mp4" />
    </video>
  

    <div class="video__description"><%= video.description %></div>

    <div class="video__related">
      <h2 class="video__relatedTitle">Tengd myndbönd</h2>
    </div>
    <%= JSON.stringify(video.related) %>
    <% categories.forEach((category)=> { %>
      <h2 class="heading__category"><%= category.title %></h2>

      <div class="list__col">
        <% category.videos.forEach((video)=> { %>
        <a href="/<%= video.id %>" class="listItem">
          <div class="listItem__poster">
            <img src="<%= video.poster %>" alt="" />
            <div class="listItem__duration">
              <%= Math.floor(video.duration/60) %>
              :
              <% if(video.duration-Math.floor(video.duration/60)*60<10) { %>
                  0<%= video.duration-Math.floor(video.duration/60)*60 %>
              <% } else { %>
              <%= video.duration-Math.floor(video.duration/60)*60 %>
              <% } %>
            </div>
          </div>
          
        </a>
        <% }) %>
    <div class="hline"></div>

    <footer class="video__footer">
      <a class="video__back" href="/">Til baka</a>
    </footer>
  </section>
</main>
<%- include("footer") -%>
